/*===============================
=            Display            =
===============================*/
.display-block 			{display:block}
.display-inline 		{display:inline;}
.display-table 			{display:table; width: 100%;}
.display-none 			{display:none!important;}
.display-inline-block 	{display:inline-block;}
.display-table-cell 	{display:table-cell;}
.display-table-row 		{display:table-row;}
.display-flex			{display:flex}

/*----------  Hide by Viewport Width  ----------*/

.element-xl				{display: none}
.element-xl-lg 			{display: none}
.element-xl-lg-md		{display: none}
.element-xl-lg-md-sm	{display: none}

.element-lg 			{display: none}
.element-lg-md 			{display: none}
.element-lg-md-sm 		{display: none}
.element-lg-md-sm-xs	{display: block}

.element-md 			{display: none}
.element-md-sm 			{display: none}
.element-md-sm-xs 		{display: block}

.element-sm 			{display: none}
.element-sm-xs 			{display: block}

.element-xs 			{display: block}

@media only screen and (min-width : 600px) {
	.element-xl				{display: none}
	.element-xl-lg 			{display: none}
	.element-xl-lg-md		{display: none}
	.element-xl-lg-md-sm	{display: block}

	.element-lg 			{display: none}
	.element-lg-md 			{display: none}
	.element-lg-md-sm 		{display: block}
	.element-lg-md-sm-xs	{display: block}

	.element-md 			{display: none}
	.element-md-sm 			{display: block}
	.element-md-sm-xs 		{display: block}

	.element-sm 			{display: block}
	.element-sm-xs 			{display: block}

	.element-xs 			{display: none}
}

@media only screen and (min-width : 960px) {
	.element-xl				{display: none}
	.element-xl-lg 			{display: none}
	.element-xl-lg-md		{display: block}
	.element-xl-lg-md-sm	{display: block}

	.element-lg 			{display: none}
	.element-lg-md 			{display: block}
	.element-lg-md-sm 		{display: block}
	.element-lg-md-sm-xs	{display: block}

	.element-md 			{display: block}
	.element-md-sm 			{display: block}
	.element-md-sm-xs 		{display: block}

	.element-sm 			{display: none}
	.element-sm-xs 			{display: none}

	.element-xs 			{display: none}
}

@media only screen and (min-width : 1280px) {
	.element-xl				{display: none}
	.element-xl-lg 			{display: block}
	.element-xl-lg-md		{display: block}
	.element-xl-lg-md-sm	{display: block}

	.element-lg 			{display: block}
	.element-lg-md 			{display: block}
	.element-lg-md-sm 		{display: block}
	.element-lg-md-sm-xs	{display: block}

	.element-md 			{display: none}
	.element-md-sm 			{display: none}
	.element-md-sm-xs 		{display: none}

	.element-sm 			{display: none}
	.element-sm-xs 			{display: none}

	.element-xs 			{display: none}
}

@media only screen and (min-width : 1600px) {
	.element-xl				{display: block}
	.element-xl-lg 			{display: block}
	.element-xl-lg-md		{display: block}
	.element-xl-lg-md-sm	{display: block}

	.element-lg 			{display: none}
	.element-lg-md 			{display: none}
	.element-lg-md-sm 		{display: none}
	.element-lg-md-sm-xs	{display: none}

	.element-md 			{display: none}
	.element-md-sm 			{display: none}
	.element-md-sm-xs 		{display: none}

	.element-sm 			{display: none}
	.element-sm-xs 			{display: none}

	.element-xs 			{display: none}
}
/*=====  End of Display  ======*/